body{
	
  background-color: #7B68EE;
}
.logo{
	text-align: center;
	font-family: Allura;
	
    

}
.roundlogo{
	border-radius: 50%;

}
.title{
	color: #330033;


}
p{
	font-family: Italianno;
	font-size: 30px;
	text-align: center;

}
.underline {
  background-repeat: repeat-x;
  background-image: url("icons8_starburst_shape_10px_1.png");
  background-position: 0 1.06em;
  background-size: 10px 9px;
  
}


h1{
	font-family: Italianno;
	font-size: 60px;
	text-align: center;

}
.maindiv{
    margin:auto;
    margin-top: 20px;
    overflow: scroll;
	height: 600px;
	width: 960px;
	background-image: url("background3.jpg");
	background-repeat: no-repeat;
	background-position: center;
    border-radius: 2.5%;


}
.button {
  background-color: #BA55D3; 
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid #191970;
  color: #191970;
}
.button:hover {
  background-color: #4B0082; 
  color: white;
  border: 2px solid #191970;
}
li{
	text-align: center;
	font-size: 20px;
	font-color: #191970;
	

}

input{
	height: 25px;
	width: 30%;
  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
 
}